@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.loading-dot {
    animation: pulse 1s infinite;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
}
